files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/email-worker.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/email-worker.log

  "/opt/elasticbeanstalk/tasks/bundlelogs.d/email-worker.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/email-worker.log
