body {
  font-family: Arial, sans-serif;
  padding: 40px;
}

form {
  max-width: 300px;
  margin: auto;
}

input {
  width: 100%;
  padding: 6px;
  margin-top: 10px;
}

button {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}

#msg {
  text-align: center;
  margin-top: 10px;
}

h2 {
  text-align: center;
}
